body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 15px;
    padding: 15px;
    background-color:rgb(31, 124, 15);
    color:rgb(137, 19, 19);
}
header {
    background-color:rgb(137, 19, 19);
    color:rgb(34, 150, 13);
    padding: 15px;
    text-align:center;
}

header nav ol li a{
    color: limegreen;
    display: flow-root;

}


header nav ul li {
    color:limegreen;
    display:flow-root;
}

header nav ul li a {
    color:limegreen;
    display: flow-root;
}

main {
    padding: 15px;
}

.gallery img {
    display:block;
    justify-content:center;
    margin-top: 15px;
    width: 1200px;
    height: 1000px;
}